.bg_espaceClub{
    background-image: url(../img/util/page-espaceclub.png);
}

.head_page{
    margin:0 17%;
    padding: 0px 4%;
}

.conteneur_searchbar{
    margin:0 17%;
    input{
        border:1px solid $sep_grey;
        background-color: $sep_grey;
        height: 40px;
        margin: 0px 4%;
        color:$dark_grey;
        padding: 2px 10px;
    }
    i{
        position: relative;
        top: -30px;
        right:-96%;
        cursor:pointer;
    }
}

.conteneur_clubs_list{
    margin: 0 17%;
    .conteneur_club{
        margin:0 17%;
        margin:0 5%;
        margin-bottom:20px;
        h3{
            font-family: $open;
            font-size:$title;
            font-weight: $open_bold;
        }
        p{
            font-family:$work;
            font-size:$content;
            font-weight: $work_reg;
        }
    }
}

@media screen and (max-width:1293px){
}

@media screen and (min-width:1294px){
   
}

//MOBILE

@media screen and (max-width:479px){
    .head_page{
        margin:0 1%!important;
        width: 130%;
    }
    .conteneur_clubs_list {
        margin:0 1%;
    }
    .conteneur_searchbar{
        margin: 0 1%;
    }
}

//TABLETTE
@media screen and (min-width:480px) and (max-width:959px){
    .head_page{
        margin:0 1%!important;
        width: 130%;
    }
    .conteneur_clubs_list {
        margin:0 1%;
    }
    .conteneur_searchbar{
        margin: 0 1%;
    }
}
/*
//MEDIUM SCREEN
@media screen and (min-width:960px) and (max-width:1280px){}
//DESKTOP
@media screen and (max-width:1281px){}
*/