{% extends 'base.html.twig' %}
{% block title %}Competitions & Résultats{% endblock %}

{% block meta %}
    <!-- Meta Page -->
    <meta name="description" content="Liste des prochaines compétitions des différentes disciplines de la FFRoller"/>
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
    <link rel="stylesheet" href="{{asset('plugin/calendar/css/monthly.css')}}">
{% endblock %}

{% block body %}
    <!-- Content Page -->
    <div class="col-12 conteneur_h1 bg_competition">
            <div class="col-12 fond_black">
        <h1>#Compétitions</h1><br/>
        <p>La saison sportive de la planète Roller est ponctuée de plusieurs événements tels que les championnats de France de Roller Hockey, de Rink Hockey, de patinage artistique, de roller freestyle ou encore de courses telles la Coupe de France des Marathons avec plusieurs étapes à travers la France de mars à octobre dont 2 étapes de Coupe du Monde. Plusieurs milliers de patineurs participent à ces événements parfois ouverts aux non licenciés.</p>
            <br/>
            <p>
            Environ 200 athlètes composent les équipes de France de la FFRS, toutes disciplines confondues. Trop souvent oubliée par le grand public, la dimension compétitive du roller est belle et bien présente. La France fait partie des grandes nations au niveau international dans toutes ses disciplines.</p>
        </div>
    </div>

    <div class="col-12">
    <div class="monthly" id="mycalendar"></div>
</div>
<div class="col-12 conteneur_link">
    <a href="{{path('champions')}}"><p class="col-6"><span>#trouverunchampion</span></br>
        Découvrez tous les champions de la fédération !</p>
        <div class="col-6 fleche_link"></div>
    </a>
</div>

{% endblock %}

{% block javascripts %}
<!-- Javascript -->
    <script type="text/javascript" src="{{asset('plugin/calendar/js/monthly.js')}}"></script>

    <script type="text/javascript">
        $(window).load( function() {
            $('#mycalendar').monthly();
        });
    </script>
{% endblock %}