//CONTENEUR h1 TOP PAGE 1
.conteneur_h1{
    text-align: center;
    color: $white;
    background-image: url(../img/accueil/page-accueil.png);
    background-size: cover;
    background-position:top;
    h1{
        text-transform: uppercase;
        font-family: $open;
        font-weight: $open_bold;
        font-size:$title;
    }
    p{
        font-family: $work;
        font-weight: $work_reg;
        font-size: $content;
        margin: 0 9%;
        line-height: 1.5;
        padding: 0 6%;
    }
    .fond_black{
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 20px;
    }
}

//CONTENEUR h1 TOP PAGE 1 blanc
.conteneur_h1_blanc{
    text-align: center;
    padding: 20px 20px;
    color: $dark_black;
    background-image: url(../img/util/page-contact.png);
    background-size: cover;
    background-position:center;
    h1{
        text-transform: uppercase;
        font-family: $open;
        font-weight: $open_bold;
        font-size:$title;
    }
    p{
        margin:10px 0%;
        font-family: $work;
        font-weight: $work_reg;
        font-size: $content;
    }
    .fond_blanc{
        background-color: rgba(255, 255, 255, 0.7);
        margin: 20px 10%;
        padding: 20px 0px;
    }
}

//CONTENEUR h1 TOP PAGE 2
.conteneur_h1_2{
    background-image: url(../img/logo.png);
    background-size: cover;
    background-position: center;
    height: 175px;
        h1{
        text-transform: uppercase;
        padding-top:50px;
        padding-left:50px;
        font-family:$open;
        font-weight:$open_bold;
        font-size:$title;
        color:$yellow_pale;
        z-index: 5;
        position: relative;
        span{
            font-family:$angel;   
            color:$white;  
            font-size:44px;
            text-transform: lowercase;
        }
    }
}

div.fond{
        z-index: 4;
        position: relative;
        top:80px;
        height: 175px;
        background-color: rgba(0, 0, 0, 0.7);
        width: 18em;
        left:-33px;
        -webkit-transform: skew(-20deg); 
        -moz-transform: skew(-20deg); 
        -o-transform: skew(-20deg);
}

//CONTENEUR KSP FICHE SPORT
.conteneur_ksp{
    background-color:$dark_black;
    color:$white;
    div.ligne_ksp{
        margin:25px 0px;
        float: left;
        text-align: center;
        span{
            padding-right: 5px;
            color:$yellow_flash;
            font-family:$open;
            font-weight: $open_bold;
        }
        h3{
            padding:0 27%;
            text-transform: uppercase;
            font-family:$open;
            font-weight: $open_bold;
        }
        p{
            margin-top:15px;
            padding:0 13%;
            font-family: $work;
            font-weight: $work_reg;
        }
    }
}

//BLOC LINK CLUB/COMPET
.conteneur_link{
    padding:20px;
    background-color: $light_black;
    p{
        margin-left: 5%;
        text-align: right;
        color:white;
        font-size:$content;
        font-family: $open;
        span{
            color:$dark_black;
            text-transform: uppercase;
            font-size:$title;
            }
        }

    .fleche_link{
        background-image: url(../img/flech.png);
        background-size:cover;
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        width: 45px;
        height: 26px;   
        margin-top: 22px;
        margin-left: 20px;
        &:hover{
           >span{
               color: white;
           }
        }
    }
}

//BLOC CATEGORY
.conteneur_category{
    background-color: $white;
    margin-bottom:4%;
        img{
            margin-top: 16%;
            height: 75px;
            width: 75px;
            padding: 1%;
        }
        .bloc_category:nth-child(2n){
            background-color:$light_black;
        }
        .bloc_category{
            background-size: cover;

            -webkit-transition: all 500ms;
            -moz-transition: all 500ms;
            -o-transition: all 500ms;
            transition: all 500ms;
            height: 250px;
            background-color: $light_grey;
            margin: 0px 4%;
            margin-top:4%;
            a{
                p{
                    font-family:$open;
                    font-weight:$open_bold;
                    font-size:$title;
                    text-align: center;
                    color:$yellow_pale;
                    span{
                        font-family:$angel;
                        font-size:44px;
                        color:$dark_black;

                    }
                }
            }
        }
}
.bloc_category:hover{
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    }

//CAROUSSEL
.owl-carousel{
    height: 410px;
}
.owl-stage{
    .owl-item{
        background-size: cover;
        text-align: center;
        height: 400px;
        .background-carroussel{
            height: 100%;
            background-size: cover;
        }
        div.handler_hover{
        margin: 5%;
        background-color:rgba(255, 255, 255, 0.8);
        position: relative;
        top: 75%;
        transition:0.3s;
        &:hover{
            transition:0.3s;
            top:5%;
            padding-top:5px;
            >.hover_slider{
                transition:0.3s;
                display: block;
                min-height: 280px;
                padding: 2% 4%;
            }
        }
        h3{
            padding:3%;
            font-size:$title;
            text-transform: uppercase;
            font-family: $work;
        }
            div.hover_slider{
                display:none;
                    span{
                        padding-top:10%;
                    }
                    p{
                        font-family: $work;
                        font-weight: $work_reg;
                        font-size: $content;
                    }
                    a{
                        text-decoration: none;
                        color:$light_black;
                        &:hover{
                            color:$yellow_flash;
                        }
                    }
            }
        }
    }
}

div.handler_hover:hover{ 
    top:0px;
    div.hover_slider{
        display: block;
    }
}

.conteneur_caroussel{
    margin: 40px 0;
    .owl-nav{
        position:relative;
        top: -220px;
        .owl-next{
            position:relative;
            width: 41px;
            height: 24px;
            background-size: cover;
            top: -57px;
            float: right;
            background-image: url(../img/flech.png);
            -webkit-transform:rotate(-90deg);
            -ms-transform:rotate(-90deg);
            -o-transform:rotate(-90deg);
            transform:rotate(-90deg);
            -moz-transform:rotate(-90deg);
        }
        .owl-prev{
            position:relative;
            width: 41px;
            height: 24px;
            background-size: cover;
            background-image: url(../img/flech.png);
            -webkit-transform:rotate(90deg);
            -ms-transform:rotate(90deg);
            -o-transform:rotate(90deg);
            transform:rotate(90deg);
            -moz-transform:rotate(90deg);
        }
    }
}

//BARRE NOIRE
.-black{
    background-color:$dark_black;
    height: 2px;
}

//BARRE JAUNE
.yellow_bar{
    height: 7px;
    margin-bottom: 20px;
    background-color: $yellow_pale;
}
//CONTENEUR H2
.conteneur_h2{
    margin-top: 50px;
    h2{
        font-family: $open;
        font-weight: $open_bold;
        font-size:$title;
        margin-top:20px;
        margin-bottom: 10px;
        text-transform:uppercase;
        position: relative;
        top: -32px;
    }
    p.name_user{
        font-family:$work;
        font-weight: $work_reg;
        margin-left:60px;
        font-size:$btn;
        margin-bottom: 20px;
    }
}

.contact{
    padding:0 15%;
}
//FORMULAIRE
.formulaire{
    margin-top: 10px;
    clear: left;
    margin: 20px 17%;
    select, input:not(.submit), textarea{
        border:1px solid $light_grey;
        width: 95%;
        margin-bottom: 10px;
        padding:5px;  
        transform-style: none;  
        background-color: $light_grey;
        font-family: $open;
        font-weight: $open_bold;
        font-size:$content;
    }
    select{
        border:1px solid $dark_black;
        background-color:$white;
    }
}

.submit{
    font-family: $open;
    font-weight: $open_bold;
    font-size:$content;
    color:$white;
    background-color: $light_black;
    border:1px solid $light_black;
    padding: 5px 20px;
    text-transform:uppercase;
    margin:10px 0;
}

//CONTENEUR_ESPACE_LICENSE
.conteneur_espace_license{
    margin:0 16%;
    margin-bottom: 50px;
    .case_license{
        padding-top:40px;
        height: 250px;
        background-color: $yellow_pale;
        margin:1% 2.5%;
    }
    .case_license:nth-child(2n){
        background-color:$light_black;
    }
    p{
        text-align: center;
        color:$dark_black;
        font-family:$work;
        font-weight: $work_reg;
        font-size:$btn;
    }
    p.white{
        color: $white;
    }
}

.logo_case{
    width: 100px;
    height: 100px;
    background-size:cover;
    background-position: center;
    margin: auto;
    margin-bottom:10px;
}

.case_1{
    background-image: url(../img/picto/case1.png);
}

.case_2{
    background-image: url(../img/picto/case2.png);
}

.case_3{
    background-image: url(../img/picto/case3.png);
}

.case_4{
    background-image: url(../img/picto/case4.png);
}

//MENTIONS
.mentions{
    margin:20px 17%;
    p{
        font-family: $work;
        text-align: left;
    }
    .effect{
        text-align: center;
        border: $yellow-pale 3px solid;
        background-color:$sep_grey;
        margin: 2%;
        padding:1% 5%;
        font-weight: $work_bold;
    }
}

//CONTENEUR FEDE
.conteneur_fede_black{
    background-color: $light_black;
    .conteneur_fede_1{
        margin:0 17%;
        padding-top: 20px;
        padding-bottom:20px;
        p, ul li{
            color:$white;
            font-family: $work;
            font-size: $content;
            list-style-type: none;
        }
        h3{
            color:white;
            font-family: $open;
            font-size: $title;
            text-transform: uppercase;
            span{
                font-family: $open;
                color: $yellow_flash;
                font-weight: $open_bold;
            }
        }
    }
}
.conteneur_fede_white{
    background-color: $white;
.conteneur_fede_2{
    margin:0 17%;
    padding-top: 20px;
    padding-bottom:20px;
    h3{
        color:$light_black;
        font-family: $open;
        font-size: $title;
        text-transform: uppercase;
    }
    .yellow_bar{
        width:175px;
        top:-20px;
        margin-top: -13px;
    }
    p, ul li{
        color:$light_black;
        font-family: $work;
        font-size: $content;
        list-style-type: none;
    }   
}
}
//RESPONSIVE

//NAV MENU

@media screen and (max-width:1293px){

}

@media screen and (min-width:1294px){
   
}

//MOBILE

@media screen and (max-width:479px){
    .conteneur_h1_2 h1 span{
        display: none;
    }

    .conteneur_espace_license{
        margin:0;
        margin-bottom: 20px;
        padding:0 2%;
        .case_license{
            margin: 1% 4%;
        }
    }
    .conteneur_h1 p{
        padding:0;
        margin: 0;
    }
    .conteneur_fed{
        margin:0;
    }
    .conteneur_h2{
        margin-top: 30px!important;
        h2{
            font-size:$title-xs;
        }
    }
    .conteneur_h1_blanc{
        .fond_blanc{
           margin:0!important;
        }
    }
    //FORMULAIRE
    .formulaire{
        width:100%;
        margin: 0 0%;
    }
    .nous_trouver{
        width: 100%;
        padding-right: 10px;
    }
    .submit{
        margin: 0 0 10px 0;
    }
    //CAROUSSEL
.owl-stage{
    .owl-item{
        .handler_hover{
            h3{
                font-size: $title-xs!important;
            }
            .hover_slider{
                min-height: 300px!important;
            }
        }
    }
}

.conteneur_link{
    padding:20px 11%;
    p{
        width: 78%;
    }
    .fleche_link{
        margin-top: 30px;
        width: 30px;
        height: 17px;
        margin-left: 14px;
    }
}
.conteneur_caroussel{
    margin-top:40px;
    margin-bottom: 40px;
    .owl-nav{
        position:relative;
        top: -50%;
        .owl-next{
            left: 6px;
            position:relative;
            width: 50px;
            height: 28px;
            background-size: cover;
            top: -28px;
            float: right;
            background-image: url(../img/flech.png);
            -webkit-transform:rotate(-90deg);
            -ms-transform:rotate(-90deg);
            -o-transform:rotate(-90deg);
            transform:rotate(-90deg);
            -moz-transform:rotate(-90deg);
        }
        .owl-prev{
            left: -6px;
            position:relative;
            width: 50px;
            height: 28px;
            background-size: cover;
            background-image: url(../img/flech.png);
            -webkit-transform:rotate(90deg);
            -ms-transform:rotate(90deg);
            -o-transform:rotate(90deg);
            transform:rotate(90deg);
            -moz-transform:rotate(90deg);
            }
        }
    }

    .contact{
        padding: 0 2%!important;
    }

    .conteneur_fede_black .conteneur_fede_1 {
        margin: 0 5%!important;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }

    .conteneur_fede_white .conteneur_fede_2 {
        margin: 0 5%!important;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
}

//TABLETTE
@media screen and (min-width:480px) and (max-width:959px){
    .conteneur_h1 p{
        margin: 0!important;   
    }
    .conteneur_espace_license{
        margin:1% 0%;
        margin-bottom: 20px;
        .case_license{
            margin:1% 4%;
        }
    }
    .owl-stage .owl-item div.handler_hover 
    {
        margin : 0 5%;
        div.hover_slider{
        min-height: 285px!important;
    }
}
}
/*
//MEDIUM SCREEN
@media screen and (min-width:960px) and (max-width:1280px){}
//DESKTOP
@media screen and (max-width:1281px){}
*/