{% extends 'base.html.twig' %} 

{% block title %}Espace Clubs & Licencié{% endblock %}

{% block meta %}
    <!-- Meta Page -->
    <meta name="description" content="Portail d'accès à l'espace club et licensiés"/>
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <!-- Content Page -->
    <div class="col-12 conteneur_h1_2 bg_espaceClub">
        <h1>Espace<br/><span>licencié</span></h1>
    </div>
    <div class="fond"></div>

    <div class="col- conteneur_h2 contact">
        <h2>#Bienvenue</h2>
        <p class="name_user">Mathilde Bontemps</p>
    </div>

    <div class="col-10 col-xs-12 conteneur_espace_license">
        <div class="col-2 col-xs-5 case_license"><div class="logo_case case_1"></div><p>Gestion<br/> de votre license</p></div>
        <div class="col-2 col-xs-5 case_license"><div class="logo_case case_2"></div><p class="white">Assurance</p></div>
        <div class="col-2 col-xs-5 case_license"><div class="logo_case case_3"></div><p>Avantages<br/> de votre license</p></div>
        <div class="col-2 col-xs-5 case_license"><div class="logo_case case_4"></div><p class="white">License<br/> individuelle</p></div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- Javascript -->
{% endblock %}