{% extends 'base.html.twig' %} 
{% block title %}Federation Française de Roller Sports{% endblock %}

{% block meta %}
    <!-- Meta Page -->
    <meta name="description" content="Présentation de la Fédération Française de Roller Sport"/>
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <!-- Content Page -->
    <div class="col-12 conteneur_h1_blanc">
        <div class="fond_blanc">
            <h1>#Fédération</h1>
            <p>Entre 2,5 millions (chiffre officiel du ministère) et 4 millions de personnes chausseraient régulièrement les rollers en France</p>
        </div>
    </div>
    <div class="col-12 conteneur_fede_black">
        <div class="conteneur_fede_1">
        <p>Dans l'esprit du grand public, le roller renvoient souvent à l'image d'une pratique réservée à une population jeune. Néanmoins, tout comme la course à pied ou encore le cyclisme, le roller est accessible à tous quelque soit l'âge.
                <br/>
                <br/>
            <ul>
                <li>- 13 Ligues (régionales)</li>
                <li>- 56 comités (départementaux)</li>
                <li>- 54% de femmes / 46% d'hommes</li>
                <li>- 57% des licenciés ont moins de 18 ans</li>
                <li>- 64% des licenciés ont moins de 25 ans</li>
            </ul>
        </p>
            <br/>
        <p>
            Le Roller et le Skateboard sont des vecteurs d'images puissants. On les retrouves fréquemment dans les écrans de publicités des grandes marques. Ils s'appuient principalement sur quatre groupes de valeurs :
        </p>
            <br/>
            <br/>
        <h3><span>#</span>La Performance</h3>
        <p>La volonté de gagner et de se surpasser. Le roller permet à chacun de se fixer des objectifs et de relever des défis à son niveau. Technique, adresse et abnégation sont autant de qualificatifs pour définir le roller en tant que pratique sportive de performance.
</p>
            <br/>
            <br/>
        <h3><span>#</span>Le Plaisir</h3>
        <p>Le roller est le sport de glisse par excellence. Ludique, il procure des sensations de vitesse, de fluidité, de liberté. Le plaisir autour de la convivialité, de la famille et du loisir.
</p>
            <br/>
            <br/>
        <h3><span>#</span>L'Accessibilité</h3>
        <p>Quel que soit votre âge, vos envies, vos préférences sportives, votre niveau de vie, le roller offre forcément une pratique qui vous correspond. La diversité et la complémentarité des pratiques de la planète Roller s’adresse à tous sans discrimination.
</p>
            <br/>
            <br/>
        <h3><span>#</span>Le développement durable</h3>
        <p>Le roller répond à une envie de se déplacer autrement, en respectant la planète. Plus qu’une pratique sportive, le roller devient un véritable mode de vie.
</p>
        </div>
        <div class="col-12 conteneur_fede_white">
        <div class="conteneur_fede_2">
            <h3>#Historique</h3>
            <div class="yellow_bar"></div>
        <br/>
            <p><b>1910</b> : La Fédération des Patineurs à Roulettes de France voit le jour avec trois spécialités fondatrices :
            </p>  
            <ul>
                <li>- la course (qui se pratiquait alors en patins traditionnels à essieux)</li>
                <li>- le patinage artistique</li>
                <li>- le rink hockey (hockey sur patins à essieux)</li>
            </ul> 
        <br/>
        <br/>
            <p><b>1925</b>La FRPF est dissoute et remplacée par le Fédération Française de Rink Hockey (FFRH) le 30 mai 1926, elle regroupe alors 7 clubs et 67 licenciés.
            </p>  
        <br/>
        <br/>
            <p><b>1945</b> :  La Seconde Guerre Mondiale n’arrête pas la pratique du roller dans la Capitale et en province, mais c’est à la Libération que la pratique du patin à roulettes connaît un nouvel essor. 
            </p>  
        <br/>
        <br/>
            <p><b>1952</b> : la Fédération Française de Rink Hockey change de nom pour devenir la Fédération Française de Roller Skating.
            </p>  
        <br/>
        <br/>
            <p><b>2011</b> : sous la présidence de Nicolas Belloir, la Fédération acquiert son identité actuelle de Fédération Française de Roller Sports.
            </p>

            <br/>
            <br/>
            <h3>#Aujourd'hui</h3>
            <div class="yellow_bar"></div>
            <p>La Fédération regroupe aujourd’hui 8 spécialités sportives dont 4 sont reconnues de haut-niveau par le Ministère et le skateboard en tant que discipline olympique :
                </p>
                <br/>
            <ul>
                <li>- le patinage artistique</li>
                <li>- la course</li>
                <li>- le rink hockey</li>
                <li>- le roller hockey</li>
            </ul>
            <br/>
            <p>En 2015, la filière de haut niveau compte 153 athlètes jeunes et seniors dans ces spécialités. La France fait partie des 5 meilleures nations mondiales dans la plupart des disciplines.
                </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Javascript -->
{% endblock %}