{% extends 'base.html.twig' %}
{% block title %}Mentions légales{% endblock %}

{% block meta %}
    <!-- Meta Page -->
    <meta name="description" content="Mentions légales de la Fédération Française de Roller Sport"/>
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <!-- Content Page -->
    <div class="col-12 conteneur_h1">
        <div class="col-12 fond_black">
        <h1>#MentionsLégales</h1>
        </div>
    </div>
    <div class="col-8 mentions">
        <p>Le présent site www.ffroller.fr et l’ensemble de ses sous-domaines (le Site) est la propriété exclusive de l’association loi 1901 reconnue d’utilité publique Fédération Française de Roller et Skateboard (FFRS), dont le siège social est situé :</p>
        <p class="effect">6, Boulevard du Pdt Franklin Roosevelt
                CS11742
                33080 Bordeaux Cedex
                France
                (n° de SIRET : 378 467 864 000 39)
                Tel : 05 56 33 65 65
                Fax : 05 56 33 65 66
                Email : contact@ffroller-skateboard.com
            </p>

        <p>
                Le directeur de la publication du Site est M. Nicolas Belloir, en qualité de Président de la Fédération Française de Roller et Skateboard.
                Le site est hébergé par la société OVH, SAS au capital de 10 069 020 € – RCS Lille Métropole 424 761 419 00045 – Code APE 2620Z – N° TVA : FR 22 424 761 419
                Siège social : 2 rue Kellermann – 59100 Roubaix – France.
                Pour toute question concernant le site internet, merci de vous adresser à : contact@ffroller-skateboard.com
        </p>
        <p>
                Données personnes – droit d’accès aux informations
                Conformément à l’article 39 de la loi « Informatique et Libertés » du 6 janvier 1978, l’utilisateur dispose d’un droit d’accès, de modification, de rectification et de suppression des données le concernant. Pour l’exercice de ces droits, l’utilisateur est invité à s’adresser par courriel à contact@ffroller-skateboard.com. Il peut aussi écrire à :                               
        </p>
        <p class="effect">
                Fédération Française de Roller et Skateboard
                6, Boulevard du Président Franklin Roosevelt
                CS11742
                33080 Bordeaux cedex
        </p>
        <p>    
                L’utilisateur peut également, pour des motifs légitimes, s’opposer au traitement des données le concernant.
                L’utilisateur trouvera des informations sur ses droits et devoirs et sur la protection des données individuelles sur le site de la Commission Nationale Informatique et Libertés.
                Les utilisateurs du site Internet www.ffroller.fr sont invités à faire connaître à la FFRS leurs remarques sur d’éventuels dysfonctionnements du site au regard des libertés individuelles par courriel (contact@ffroller-skateboard.com) ou par courrier au siège de la Fédération Française de Roller Sports.
        </p>
    </div>
    {% endblock %}

{% block javascripts %}
    <!-- Javascript -->
{% endblock %}