{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}

    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <div class="col-12 conteneur_h1">
        <div class="col-12 fond_black">
        <h1>#Contact</h1><br/>
        <p>La Fédération vous accueille dans ses locaux du lundi au jeudi de 9h00 à 12h30 et de 13h30 à 17h30 et le vendredi de 9h00 à 12h30 et de 13h30 à 16h30.<br/> Le standard téléphonique est ouvert tous les matins de 9h00 à 12h30.</p>
        </div>
    </div>
    <div class="col-12 conteneur_adresse"><i class="fa fa-map-marker" aria-hidden="true"> <span>Adresse de la FFRoller Sports</span></i>
        <br/>
        <br/>
        <p>6, Boulevard du Président Franklin Roosevelt<br/> - CS 11742 - 33080 Bordeaux Cedex France</p>
    </div>
    <div class="col- conteneur_h2  contact">
            <div class="yellow_bar"><h2>#Trouver votre contact</h2></div>
    </div>
    <div class="col-8 formulaire">
        <center>
        <form>
    <select>
        <option>Départements Ressources & Développement</option>
        <option>Départements Ressources & Développement</option>
        <option>Départements Ressources & Développement</option>
        <option>Départements Ressources & Développement</option>
    </select>
    <br/>
    <input type="text" placeholder="NOM, PRENOM">
    <br/>
    <input type="text" placeholder="EMAIL">
    <br/>
    <textarea rows="5" cols="50" placeholder="ECRIVEZ VOTRE MESSAGE..."></textarea>
    <br/>
    <input class="submit" type="submit" value="Envoyer">
</form>
</center>
</div>
    <!-- Content Page -->
{% endblock %}

{% block javascripts %}
    <!-- Javascript -->
{% endblock %}