{% extends 'base.html.twig' %}
{% block title %}Equipe de France{% endblock %}

{% block meta %}
    <!-- Meta Page -->
    <meta name="description" content="Présentation de l'équipe de france de la FFRoller et les derniers résultats dans les compétitions des champions de la fédération"/>
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <!-- Content Page -->

    <div class="col-12 conteneur_h1 bg_champions">
        <div class="col-12 fond_black">
        <h1>#Champions</h1><br/>
        <p>L'équipe de France féminine de roller hockey a décroché la médaille d'argent à l'occasion du championnat d'Europe de roller hockey en République Tchèque !</p>
        </div>
    </div>

    <div class="col-12 conteneur_caroussel"> 
        <div class="col-8 owl-carousel">
            {% for listeChampions in listeChampions %}
            <div class="background-carroussel">
            <div class="handler_hover" data-image="{{listeChampions.image}}">
                    <h3>#Champions</h3>
                    <div class="hover_slider">
                        <p>{{ listeChampions.title }}</p>
                        <br/>
                        <p>{{ listeChampions.description|raw }}</p>
                    </div>
            </div>
        </div>
            {% endfor %}
          </div>
    </div>

    <div class="col-12 conteneur_link">
        <a href="{{path('clubs')}}"><p class="col-6"><span>#trouverunclub</span></br>
            Trouver un club près de chez vous !</p>
            <div class="col-6 fleche_link"></div>
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Javascript -->
    <script type="text/javascript">

            elements = document.querySelectorAll(".handler_hover");
            //console.log(elements);
            for (var i = 0; i < elements.length; i++) {
                var image = $(elements[i]).attr("data-image");
                //console.log(image);
                var a = "/img/champions/"+image;
                $(elements[i]).parent().css("background-image","url("+a+")");
              }
    </script>
{% endblock %}